@media only screen and (max-width: 768px) {
  .downloadButtonsContainer {
    flex-direction: column !important;
    justify-content: center !important;
    height: auto !important;
  }

  .downloadButton {
      margin-top: 30px;
      margin-right: 0 !important;
      height: 60px;
      
  }

  .downloadButtonContent {
      display: flex;
      justify-content: center;
  }
}
