.appointmentCard{
    background-color: white !important;
    border-radius: 0 !important;
    border-width: 3px;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

@media only screen and (max-width: 768px) {
    .appointmentCard {
     
        margin-right: 0px !important;
        margin-bottom: 0px !important;
    }
}